
@{
    ViewBag.Title = "Button";
}

<h2>Button</h2>

<button type="button" onclick="window.location.href='http://pravda-team.ru/eng/image/article/5/7/9/58579.jpeg'">Submit</button>

@*<form>
    <input type="button" value="Submit" onclick="window.location.href='http://www.hyperlinkcode.com/button-links.php'" />
</form>*@